name: Docker Image CPUMiner

on:
  push:
    branches: [ "master" ]

env:
  NAME: sikkienl
  VERSION: 0.1.0
  IMAGE_NAME: sikkienl/cpuminer-app
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
