name: Docker Image CPUMiner

on:
  push:
    branches: [ "master" ]

env:
  NAME: sikkienl
  VERSION: 0.1.0
  IMAGE_NAME: sikkienl/cpuminer

jobs:

  build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    
    steps:
      - name: docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Checkout project
        uses: actions/checkout@v4

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
